.navItem{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgb(255, 109, 109);
    padding: 30px 300px 40px 300px;
    margin: 50px 350px 50px 180px;
   
}
li{
    padding-right:30px;
    padding-top:30px;
}
.flexContainer{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-left:30%;
    margin-right:30%;
}
.subheader{
font-size: 2em;
text-align: center;
}
.articleHeader{
    font-size: 3em;
    text-align: center;

}
p{
    font-size: 1.5em;
    padding-bottom: 10px;
}
.paragraph{
    padding-bottom: 300px;
}