ul{
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
    border: 1px solid ;
    width:150px;
    height:100%;
    position:fixed;
    overflow: auto;
}

li a {
    display: block;
    width: 150px;
    height:30px;
    background-color: bisque;
    text-decoration: none;
    
  }
  li a:hover{
      background-color: burlywood;
      color: chocolate;
  }
  .active {
      background-color: cornflowerblue;
      color:white;
  }
  li{
      border-bottom: 1px solid;
  }
  li:last-child{
      border-bottom: none;
  }